<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360160034467-v4848hjl7i4b496hh6ars38l56670qpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360160034467-v4848hjl7i4b496hh6ars38l56670qpt</string>
	<key>API_KEY</key>
	<string>AIzaSyCujUZG1d9w4ep_KFBA2d0aBFDdYVZoX40</string>
	<key>GCM_SENDER_ID</key>
	<string>360160034467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>pdfv-730fb</string>
	<key>STORAGE_BUCKET</key>
	<string>pdfv-730fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360160034467:ios:d87f210c3f86a9cb058916</string>
</dict>
</plist>